<h1>My Tasks</h1>
<% @tasks.each do |task| %>
  <% if task.completed %>
    <input type="checkbox" name="completed" checked>
    <%= link_to task.title, task_path(task) %>
  <% else %>
    <input type= "checkbox" name="unchecked">
  <%end%>
  <%= link_to task.title,  task_path(task)%>
  <%= link_to "Remove task", task_path(task), method: :delete%>
<% end %>
  <%= link_to "Create new task", tasks_new_path%>
